
body {
    background: #cccccc;
    text-align: center;
}

.banner {
    width: 100%;
}

.header {
    text-align: center; 
}

.barbermission {
   font-size: 20px;
}

.barbermission strong {
    color: blue;
 }